<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxmzu.score.mapper.ConfigMapper">

    <cache eviction="FIFO" flushInterval="60000" readOnly="false" size="1024"/>

    <resultMap type="Config" id="ConfigResult">
        <id property="configId" column="config_id"/>
        <result property="configName" column="config_name"/>
        <result property="configKey" column="config_key"/>
        <result property="configValue" column="config_value"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectConfigVo">
        select config_id, config_name, config_key, config_value,
        create_by, create_time, update_by, update_time
        from config
    </sql>


    <select id="selectConfigList" parameterType="Config" resultMap="ConfigResult">
        <include refid="selectConfigVo"/>
        <where>
            <if test="configValue!=null and configValue!=''">
                config_value = #{configValue} and
            </if>
            <if test="configName!=null and configName!=''">
                config_name like concat('%', #{configName}, '%') and
            </if>
        </where>
    </select>

    <select id="selectConfigByName" parameterType="Config" resultMap="ConfigResult">
        <include refid="selectConfigVo"/>
        <where>
            <if test="configName!=null and configName!=''">
                config_name = #{configName}
            </if>
        </where>
    </select>

    <insert id="insertConfig" parameterType="Config">
        insert into config (config_id, config_name, config_key, config_value, create_by, create_time) values(
        0,
        <if test="configName!=null and configName!=''">
            #{configName},
        </if>
        <if test="configValue!=null and configValue!=''">
            #{configValue},
        </if>
        <if test="createBy!=null and createBy!=''">
            #{createBy},
        </if>
        now()
        )
    </insert>

</mapper>
