<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxmzu.score.mapper.ContestantMapper">

    <resultMap type="Contestant" id="ContestantResult">
        <id property="contestantId" column="contestant_id"/>
        <result property="matchId" column="match_id"/>
        <result property="name" column="name"/>
        <result property="info" column="info"/>
        <result property="matchOrder" column="match_order"/>
        <result property="isOpen" column="is_open"/>
        <result property="score" column="score"/>
        <result property="rank" column="rank"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectContestantVo">
        select c.contestant_id, c.match_id, c.name, c.info, c.match_order, c.is_open,
        c.score, c.rank, c.create_by, c.create_time, c.update_by, c.update_time
        from contestant c
    </sql>

    <select id="selectContestantList" parameterType="Contestant" resultMap="ContestantResult">
        <include refid="selectContestantVo"/>
        <where>
            <if test="name!=null and name!=''">
                `name` = #{name}
            </if>
        </where>

    </select>

    <select id="selectContestantByName" parameterType="Contestant" resultMap="ContestantResult">
        <include refid="selectContestantVo"/>
        <where>
            <if test="name!=null and name!=''">
                `name` = #{name}
            </if>
        </where>
    </select>


    <select id="selectContestantListByMatchId" parameterType="Contestant" resultMap="ContestantResult">
        <include refid="selectContestantVo"/>
        <where>
            <if test="matchId!=null and matchId!=''">
                `match_id` = #{matchId}
            </if>
        </where>
    </select>

    <update id="batchUpdateContestant" parameterType="List">
        <!--        这个方法太慢了-->
<!--        <foreach collection="list" item="item" index="index" separator=";">-->
<!--            update contestant set match_order=#{item.matchOrder}-->
<!--            where contestant_id = #{item.contestantId}-->
<!--        </foreach>-->

        <!--比上一种方法快了一倍，但仅支持单个字段的更新-->
        update contestant
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="match_order =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    when contestant_id=#{item.contestantId} then #{item.matchOrder}
                </foreach>
            </trim>
        </trim>
        where contestant_id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.contestantId,jdbcType=BIGINT}
        </foreach>

    </update>

    <insert id="addContestant">
        insert into contestant
        values(#{contestantId},#{matchId},#{matchOrder},#{isOpen},#{name},#{info},#{score},#{rank},#{createTime},#{createBy},#{updateTime},#{updateBy})
    </insert>

    <update id="updateContestant">
        update contestant set name = #{name},info = #{info}, match_order = #{matchOrder}, is_open = #{isOpen},
         score = #{score}
         where contestant_id = #{contestantId}
    </update>

    <delete id="deleteContestant">
        delete from contestant where contestant_id = #{contestantId}
    </delete>
    <select id="select" resultType="com.gxmzu.score.domain.AjaxResult">
        select * from contestant where match_order = #{matchOrder}
    </select>

    <select id="count" resultType="int">
        select count(contestant_id) from contestant
    </select>

</mapper>
