<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxmzu.score.mapper.ScoreMapper">

    <cache eviction="FIFO" flushInterval="60000" readOnly="false" size="1024"/>

    <resultMap type="Score" id="ScoreResult">
        <result property="matchId" column="match_id"/>
        <result property="userId" column="user_id"/>
        <result property="contestantId" column="contestant_id"/>
        <result property="score" column="score"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectScoreVo">
        select match_id,user_id,contestant_id,score,
        create_by,create_time,update_by,update_time
        from score
    </sql>

    <select id="selectScoreList" parameterType="Long" resultMap="ScoreResult">
        <include refid="selectScoreVo"/>
        <where>
            <if test="matchId != 0L">
                match_id=#{matchId}
            </if>
        </where>
    </select>


</mapper>
