<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxmzu.score.mapper.UserMapper">

    <cache eviction="FIFO" flushInterval="60000" readOnly="false" size="1024"/>

    <resultMap type="User" id="UserResult">
        <id property="userId" column="user_id"/>
        <result property="userName" column="username"/>
        <result property="password" column="password"/>
        <result property="userType" column="user_type"/>
        <result property="nickName" column="nick_name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectUserVo">
        select u.user_id, u.username, u.password, u.user_type, u.nick_name,
        u.create_by, u.create_time, u.update_by, u.update_time
        from user u
    </sql>


    <select id="selectUserList" parameterType="User" resultMap="UserResult">
        <include refid="selectUserVo"/>
        <where>
            <if test="userName!=null and userName!=''">
                u.username = #{userName} and
            </if>
            <if test="userType!=null and userType!=''">
                u.user_type = #{userType} and
            </if>
            <if test="nickName!=null and nickName!=''">
                u.nick_name like concat('%', #{nickName}, '%') and
            </if>
            u.user_type != '0'
        </where>
    </select>

    <select id="selectUserByUserName" parameterType="User" resultMap="UserResult">
        <include refid="selectUserVo"/>
        <where>
            <if test="userName!=null and userName!=''">
                u.username = #{userName}
            </if>
        </where>
    </select>

    <insert id="insertUser" parameterType="User">
        insert into user (user_id, username, password, user_type, nick_name,
        create_by, create_time) values(
            0,
            <if test="userName!=null and userName!=''">
                #{userName},
            </if>
            <if test="password!=null and password!=''">
                #{password},
            </if>
            <if test="userType!=null and userType!=''">
                #{userType},
            </if>
            <if test="nickName!=null and nickName!=''">
                #{nickName},
            </if>
            <if test="createBy!=null and createBy!=''">
                #{createBy},
            </if>
            now()
        )
    </insert>

</mapper>
